@{
    ViewBag.Title = "Ana Sayfa";
}

<div ng-controller="indexcontroller">
    <h1 class="page-title">
        Otomatik Jeoteknik Kesit Oluşturan Bulanık Mantık Tabanlı Bir Araç Tasarımı Ve Gerçekleştirimi
        <small>Kaan Er, 2018</small>
    </h1>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="~/Fuzzy/Kume">
                <div class="visual">
                    <i class="fa fa-list"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5">Bulanık Mantık Modülü</span>
                    </div>
                    <div class="desc"> Bulanık Mantık Modülü </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="~/Graph/Cizim">
                <div class="visual">
                    <i class="fa fa-edit"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5">Çizim Modülü</span>
                    </div>
                    <div class="desc"> Sayfaya gitmek için tıklayınız </div>
                </div>
            </a>
        </div>        
    </div>
</div>

