
@{
    ViewBag.Title = "Cizim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="graphcontroller">

    <div id="panelPortlet1" class="panel panel-primary">
        <div class="panel-heading">
            <span>Grafik Oluşturma Sayfası</span>
        </div>

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">Adım 1 - Kural Seçimi</span>
                </div>
                <div class="panel-body">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#rule"><i class="fa fa-edit"></i> Seçim</a></li>
                        <li ng-show="kural"><a data-toggle="tab" href="#rule1"><i class="fa fa-list-ul"></i> Kurallar</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="rule" class="tab-pane fade in active">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Kural Seçimi Yapınız</label>
                                    <div class="col-md-6">
                                        <select class="form-control" ng-model="kural" ng-options="kume.KuralAdi for kume in kumeListesi" ng-change="KuralTextGetir(kural)">
                                            @*<option value="">Zemin Tipi Seçiniz</option>*@
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="rule1" class="tab-pane fade">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr><th>Bulanık Mantık Kural Kümesi</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in kuralTextListesi">
                                            <td>{{item.KuralText}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr><th>Özdirenç Değer Aralıkları</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ozdirencListesi">
                                            <td>{{item.Adi}}</td>
                                            <td>{{item.MinDeger}}</td>
                                            <td>{{item.MaxDeger}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-labeled btn-success pull-right" style="margin-left: 10px;" ng-click="KuralSecimi(kural)" ng-disabled="!kural">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>Kaydet ve Devam Et
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-show="panelExcelSec">
                <div class="panel-heading">
                    <span class="panel-title">Adım 2 - Excel Dosyası</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                    accept="excel/*" ngf-max-height="1000" ngf-max-size="1MB">
                                Excel Dosyası Seçiniz (Max. 1MB)
                            </button>
                            <span ng-show="f.progress >= 0 && excel.adi" style="color:mediumseagreen">
                                <i class="fa fa-2x fa-check"></i> Yükleme Başarılı
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-labeled btn-success pull-right" style="margin-left: 10px;" ng-click="ExcelSecimi(excel)" ng-disabled="!excel.adi">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>Kaydet ve Devam Et
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-show="panelAyarlar">
                <div class="panel-heading">
                    <span class="panel-title">Adım 3 - Ayarlar</span>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Çizim Başlığı</label>
                            <div class="col-sm-9">
                                <input type="text" name="" class="form-control" ng-model="parameters.Baslik" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Çizimler Görünsün Mü ?</label>
                            <div class="col-sm-9">
                                <input type="checkbox" name="" ng-model="parameters.CizimlerGorunsunMu" />{{parameters.CizimlerGorunsunMu ? ' Evet' : ' Hayır'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Çözünürlük Değeri (X)</label>
                            <div class="col-sm-9">
                                <input type="number" name="" class="form-control" ng-model="parameters.CozunurlukX" min="0" max="10000" prevent-typing-greater placeholder="Min. 0 - Max 10000" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Çözünürlük Değeri (Y)</label>
                            <div class="col-sm-9">
                                <input type="number" name="" class="form-control" ng-model="parameters.CozunurlukY" min="0" max="10000" prevent-typing-greater placeholder="Min. 0 - Max 10000" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ölçek Aralığı (X)</label>
                            <div class="col-sm-9">
                                <input type="number" name="" class="form-control" ng-model="parameters.OlcekX" min="1" max="1000" prevent-typing-greater placeholder="Min. 1 - Max 1000" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ölçek Aralığı (Y)</label>
                            <div class="col-sm-9">
                                <input type="number" name="" class="form-control" ng-model="parameters.OlcekY" min="1" max="1000" prevent-typing-greater placeholder="Min. 1 - Max 1000" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Sismik Uygunluk Oranı (%)</label>
                            <div class="col-md-9">
                                <input type="number" name="" class="form-control" ng-model="parameters.SismikOran" min="1" max="100" prevent-typing-greater placeholder="Min. 1 - Max 100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Özdirenç Yakınlık Oranı (%)</label>
                            <div class="col-md-9">
                                <input type="number" name="" class="form-control" ng-model="parameters.OzdirencOran" min="1" max="100" prevent-typing-greater placeholder="Min. 1 - Max 100" />
                            </div>
                        </div>
                        @*<div class="form-group">
        <label class="col-md-3 control-label">Özdirenç Yakınlık Oranı (%)</label>
        <div class="col-md-9">
            <input id="range_3" type="text" value="" ng-model="parameters.OzdirencOran = range3.from" />
            <span class="help-block"> Set min value, max value and start point </span>
                                </div>
                                    </div>*@
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-labeled btn-success pull-right" style="margin-left: 10px;" ng-click="AyarSecimiVeGrafikOlustur(excel, parameters)">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>Kaydet ve Çiz
                            </button>
                            <button type="button" class="btn btn-labeled btn-danger pull-right" style="margin-left: 10px;" ng-click="VassayilanAyarlaraDon()">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>Varsayılan Ayarlar'a Dön
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default" ng-show="panelGrafik">
                @*<div class="panel panel-default">*@
                <div class="panel-heading">
                    <span class="panel-title">Sonuç - Grafik</span>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-line-chart"></i> Grafik</a></li>
                        <li><a data-toggle="tab" href="#menu1"><i class="fa fa-cog"></i> Ayarlar</a></li>
                    </ul>

                    <div class="tab-content" style="overflow-x:scroll; overflow-x:scroll; height:800px">
                        <div id="home" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12" id="container" style="height: 2000px; width: 5000px">
                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Çizimler Görünsün Mü ?</label>
                                        <div class="col-sm-9">
                                            <input type="checkbox" name="" ng-model="parameters.CizimlerGorunsunMu" />{{parameters.CizimlerGorunsunMu ? ' Evet' : ' Hayır'}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Çözünürlük Değeri (X)</label>
                                        <div class="col-sm-9">
                                            <input type="number" name="" class="form-control" ng-model="parameters.CozunurlukX" min="0" max="10000" prevent-typing-greater placeholder="Min. 0 - Max 10000" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Çözünürlük Değeri (Y)</label>
                                        <div class="col-sm-9">
                                            <input type="number" name="" class="form-control" ng-model="parameters.CozunurlukY" min="0" max="10000" prevent-typing-greater placeholder="Min. 0 - Max 10000" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Ölçek Aralığı (X)</label>
                                        <div class="col-sm-9">
                                            <input type="number" name="" class="form-control" ng-model="parameters.OlcekX" min="10" max="1000" prevent-typing-greater placeholder="Min. 10 - Max 1000" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Ölçek Aralığı (Y)</label>
                                        <div class="col-sm-9">
                                            <input type="number" name="" class="form-control" ng-model="parameters.OlcekY" min="10" max="1000" prevent-typing-greater placeholder="Min. 10 - Max 1000" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Sismik Uygunluk Oranı (%)</label>
                                        <div class="col-md-9">
                                            <input type="number" name="" class="form-control" ng-model="parameters.SismikOran" min="0" max="100" prevent-typing-greater placeholder="Min. 0 - Max 100" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Özdirenç Yakınlık Oranı (%)</label>
                                        <div class="col-md-9">
                                            <input type="number" name="" class="form-control" ng-model="parameters.OzdirencOran" min="0" max="100" prevent-typing-greater placeholder="Min. 0 - Max 100" />
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                <label class="col-md-3 control-label">Özdirenç Yakınlık Oranı (%)</label>
                                <div class="col-md-9">
                                    <input id="range_3" type="text" value="" ng-model="parameters.OzdirencOran = range3.from" />
                                    <span class="help-block"> Set min value, max value and start point </span>
                                                        </div>
                                                            </div>*@
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn green pull-right" ng-click="ChartGuncelle()">Güncelle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @*<div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Grafik</a></li>
                        <li><a data-toggle="tab" href="#menu1">Ayarlar</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12" id="container" style="height: 2000px; width: 5000px">
                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Some content in menu 1.</p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>
