
@{
    ViewBag.Title = "Kume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="fuzzycontroller">

    <div id="panelPortlet1" class="panel panel-primary">
        <div class="panel-heading">
            <span>Bulanık Küme Oluşturma Sayfası</span>{{enums.EvrakTuru}}
            <paneltool tool-collapse="tool-collapse"></paneltool>
        </div>
        <div collapse="panelPortlet1" class="panel-wrapper">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Kural Kümesinin Adı</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="kumeAdi" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- Özdirenc START -->
                    <div class="col-md-12">

                        <div id="panelPortlet1" class="panel panel-default">
                            <div class="panel-heading">
                                <span>Özdirenç Değeri Ve Aralıklarını Giriniz</span>
                                <paneltool tool-collapse="tool-collapse"></paneltool>
                            </div>
                            <div collapse="panelPortlet1" class="panel-wrapper">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Değer</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="ozdirenc" class="form-control" ng-model="ozdirenc.adi" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">Min. Değer</label>
                                                <div class="col-sm-7">
                                                    <input type="number" name="mukavemet" class="form-control" ng-model="ozdirenc.minDeger" min="0" max="1000" prevent-typing-greater placeholder="Min. 0" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Max. Değer</label>
                                                <div class="col-sm-8">
                                                    <input type="number" name="doygunluk" class="form-control" ng-model="ozdirenc.maxDeger" min="0" max="1000" prevent-typing-greater placeholder="Max. 1000" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-labeled btn-info" style="margin-left: 10px;" ng-click="OzdirencGuncelle(ozdirenc)" ng-show="ozdirencButonGuncelle">
                                                    <span class="btn-label">
                                                        <i class="fa fa-check"></i>
                                                    </span>Güncelle
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" style="margin-left: 10px;" ng-click="OzdirencEkle(ozdirenc)" ng-show="ozdirencButonKaydet">
                                                    <span class="btn-label">
                                                        <i class="fa fa-check"></i>
                                                    </span>Ekle
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-danger" style="margin-left: 10px;" ng-click="OzdirencIptal()" ng-show="ozdirencButonIptal">
                                                    <span class="btn-label">
                                                        <i class="fa fa-check"></i>
                                                    </span>İptal
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="ozdirencList.length > 0">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Özdirenç</th>
                                                        <th>Min. Değer</th>
                                                        <th>Max. Değer</th>
                                                        <th>İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in ozdirencList">
                                                        <td>
                                                            <div ng-show="ozdirencDuzenle == true">{{item.adi}}</div>
                                                            <div ng-hide="ozdirencDuzenle == true">{{item.adi}}</div>
                                                        </td>
                                                        <td>{{item.minDeger}}</td>
                                                        <td>{{item.maxDeger}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-labeled btn-info" ng-click="OzdirencDuzenle(item,$index)">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>Güncelle
                                                            </button>
                                                            <button type="button" class="btn btn-labeled btn-danger" ng-click="OzdirencSil($index)">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>Sil
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer" ng-show="ozdirencList.length > 0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-labeled btn-success pull-right" style="margin-left: 10px;" ng-click="OzdirencKaydet(ozdirencList)">
                                                <span class="btn-label">
                                                    <i class="fa fa-check"></i>
                                                </span>Kaydet
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Özdirenc END -->
                    <!-- Toprak START -->
                    <div class="col-md-12" ng-show="panelToprak">

                        <div id="panelPortlet1" class="panel panel-default">
                            <div class="panel-heading">
                                <span>Toprak Sonuç Tipi Ve Aralıklarını Giriniz</span>
                                <paneltool tool-collapse="tool-collapse"></paneltool>
                            </div>
                            <div collapse="panelPortlet1" class="panel-wrapper">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Değer</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="ozdirenc" class="form-control" ng-model="toprak.adi" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">Min. Değer</label>
                                                <div class="col-sm-7">
                                                    <input type="number" name="mukavemet" class="form-control" ng-model="toprak.minDeger" min="0" max="1000" prevent-typing-greater placeholder="Min. 0" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Max. Değer</label>
                                                <div class="col-sm-8">
                                                    <input type="number" name="doygunluk" class="form-control" ng-model="toprak.maxDeger" min="0" max="1000" prevent-typing-greater placeholder="Max. 1000" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-labeled btn-info" style="margin-left: 10px;" ng-click="ToprakGuncelle(toprak)" ng-show="toprakButonGuncelle">
                                                    <span class="btn-label">
                                                        <i class="fa fa-check"></i>
                                                    </span>Güncelle
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-success" style="margin-left: 10px;" ng-click="ToprakEkle(toprak)" ng-show="toprakButonKaydet">
                                                    <span class="btn-label">
                                                        <i class="fa fa-check"></i>
                                                    </span>Ekle
                                                </button>
                                                <button type="button" class="btn btn-labeled btn-danger" style="margin-left: 10px;" ng-click="ToprakIptal()" ng-show="toprakButonIptal">
                                                    <span class="btn-label">
                                                        <i class="fa fa-check"></i>
                                                    </span>İptal
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="toprakList.length > 0">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Toprak</th>
                                                        <th>Min. Değer</th>
                                                        <th>Max. Değer</th>
                                                        <th>İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in toprakList">
                                                        <td>
                                                            <div ng-show="toprakDuzenle == true">{{item.adi}}</div>
                                                            <div ng-hide="toprakDuzenle == true">{{item.adi}}</div>
                                                        </td>
                                                        <td>{{item.minDeger}}</td>
                                                        <td>{{item.maxDeger}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-labeled btn-info" ng-click="ToprakDuzenle(item,$index)">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>Güncelle
                                                            </button>
                                                            <button type="button" class="btn btn-labeled btn-danger" ng-click="ToprakSil($index)">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>Sil
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer" ng-show="toprakList.length > 0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-labeled btn-success pull-right" style="margin-left: 10px;" ng-click="ToprakKaydet(toprakList)">
                                                <span class="btn-label">
                                                    <i class="fa fa-check"></i>
                                                </span>Kaydet
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Toprak END -->
                    <!-- Kurallar START -->
                    <div class="col-md-12" ng-show="panelKurallar">

                        <div id="panelPortlet1" class="panel panel-default">
                            <div class="panel-heading">
                                <span>Bulanık Mantık Kural Tanımlamalarını Yapınız</span>
                                <paneltool tool-collapse="tool-collapse"></paneltool>
                            </div>
                            <div collapse="panelPortlet1" class="panel-wrapper">
                                <div class="panel-body">
                                    <div id="panelPortlet1" class="panel panel-default">
                                        <div collapse="panelPortlet1" class="panel-wrapper">
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label">Zemin Tipi</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control" ng-model="kural.ozdirenc">
                                                                    @*<option value="">Zemin Tipi Seçiniz</option>*@
                                                                    <option ng-repeat="item in ozdirencList" value="{{item.adi}}">{{item.adi}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="col-md-6 control-label text-center">İse</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Toprak</label>
                                                            <div class="col-md-9 selectContainer">
                                                                <select class="form-control" ng-model="kural.toprak">
                                                                    <option ng-repeat="item in toprakList" value="{{item.adi}}">{{item.adi}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-labeled btn-info" style="margin-left: 10px;" ng-click="KuralGuncelle(kural)" ng-show="kuralButonGuncelle">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>Güncelle
                                                            </button>
                                                            <button type="button" class="btn btn-labeled btn-success" style="margin-left: 10px;" ng-click="KuralEkle(kural)" ng-show="kuralButonKaydet">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>Ekle
                                                            </button>
                                                            <button type="button" class="btn btn-labeled btn-danger" style="margin-left: 10px;" ng-click="KuralIptal()" ng-show="kuralButonIptal">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>İptal
                                                            </button>
                                                            <button type="button" class="btn btn-labeled btn-success" style="margin-left: 10px;" ng-click="OtomatikTanimla()" title="Özdirenç ve Toprak değerleri eşit sayıda ise otomatik kural tanımlaması yapılır.">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-check"></i>
                                                                </span>Otomatik Ekle
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" ng-show="kuralList.length > 0">
                                                    <div class="col-md-12">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Kurallar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in kuralList">
                                                                    <td>{{item.text}}</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-labeled btn-info" ng-click="KuralDuzenle(item,$index)">
                                                                            <span class="btn-label">
                                                                                <i class="fa fa-check"></i>
                                                                            </span>Güncelle
                                                                        </button>
                                                                        <button type="button" class="btn btn-labeled btn-danger" ng-click="KuralSil($index)">
                                                                            <span class="btn-label">
                                                                                <i class="fa fa-check"></i>
                                                                            </span>Sil
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Kurallar END -->
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-labeled btn-success pull-right" style="margin-left: 10px;" ng-click="KumeKaydet(kuralList)" ng-disabled="kuralList.length == 0">
                            <span class="btn-label">
                                <i class="fa fa-check"></i>
                            </span>Kaydet ve Haftalık Liste Oluştur
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
